*.bin
*.dis
*.o
*.elf
bochsout.txt
cpu/memory.h
os.iso
disk.img
*.a
init/init
vfs/vfs
devfs/devfs
initrd/*
sysroot/boot/initrd.tar
serout
vga_drv/vga_drv
.vagrant
.vscode
kernel/docs
sysroot/usr/share/man
libc/docs
