*.bin
*.dis
*.o
*.elf
bochsout.txt
cpu/memory.h
os.iso
disk.img
*.a
init/init
vfs/vfs
devfs/devfs
initrd/*
!initrd/.gitkeep
serout
vga_drv/vga_drv
.vagrant
.vscode
kernel/docs
libc/docs
sysroot/usr/share/man/*
sysroot/usr/include/*
sysroot/boot/initrd.tar
!sysroot/usr/include/.gitkeep
!sysroot/usr/share/man/.gitkeep
pci/pci
initrd_drv/initrd_drv
